%section.ten-oh-announcement
  .ten-oh-label
    %span 11.8
  .ten-oh-description
    .container
      .row
        .col-sm-10.col-sm-offset-1
          .ten-oh-description-body.text-center
            %h2.main-heading New features every month
            %p.u-margin-bottom-xs
              GitLab 11.8 released with SAST for JavaScript, Pages for subgroups, and Error Tracking!

            .btn-group
              %a.btn.cta-btn.btn-white.margin-top20.hero-cta.hero-release-link{href: "/2019/02/22/gitlab-11-8-released/"}
                See what’s new
